<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rofilde Hasudungan</title>
	{% stylesheets '@RofilTemplateMasterBundle/Resources/public/bootstrap/css/bootstrap.min.css' output="css/output.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
</head>
<body>
	<div class="container">
		<h1>Rofilde Hasudungan <span class="glyphicon glyphicon-calendar"></span></h1>
	</div>
</body>
</html>