<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rofilde Hasudungan</title>
	{% stylesheets '@RofilTemplateMasterBundle/Resources/public/bootstrap/css/bootstrap.min.css' output="bundles/rofiltemplatemaster/bootstrap/bootstrap/x.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	{% stylesheets 
		'@RofilTemplateMasterBundle/Resources/public/jquery.min.js'
		'@RofilTemplateMasterBundle/Resources/public/bootstrap/js/bootstrap.min.js'
	 output="j.js" %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endstylesheets %}


</head>
<body>
	{% block header %}
	    <div class="container">
	    	<h1>Rofilde Hasudungan <span class="glyphicon glyphicon-calendar"></span></h1>
	    </div>
	{% endblock %}
	

	{% block navigation %}
	    {% include 'RofilTemplateMasterBundle:Theme:navigation.html.twig' only %}
	{% endblock %}

	<div class="container">
		{% block layout %}
		    
		{% endblock %}
	</div>
	
	{% block footer %}

		<div class="container text-center">
			<hr>
			Copyright &copy; 2015 By Rofilde Hasudungan. All Right Reserved.			
		</div>
	{% endblock %}
</body>
</html>